$turquoise: rgb(177, 202, 219);
$turquoise-1: rgb(103, 163, 156);
$turquoise-2: rgb(132, 219, 212);
$dark: rgb(34, 26, 34);
$dark-1: rgb(124, 124, 124);
$dark-2: rgb(214, 210, 210);
$white-1: rgba(236, 229, 229, 0.993);
$white: white;
$danger: rgb(194, 18, 18);
$danger-hover: rgba(143, 30, 39, 0.904);
$green-1: rgb(139, 197, 139);

$font-family: "Sofia", sans-serif;

$card__container--max-width: 46%;
$card__container--display: flex;
$card__container--flex-wrap: wrap;
$card__container--justify-content: space-around;
$card__title-font-size: 1.4rem;
$card__title-text-align: center;
$card__button--padding: 2%;
$card__button--font-size: 1rem;
$card__skills-font-size: 1.45rem;
$card__images-max-width: 200px;

$card--width: 240px;
$card--height: 440px;
$card--padding: 1%;
$card--margin: 1%;
$card__name-font-size: 1.8rem;
$card--text-align: center;
$card__name-hover-font-size: 1.85rem;

$border--radius: 25px;

//************************************************************//

.card__container {
  display: $card__container--display;
  flex-wrap: $card__container--flex-wrap;
  justify-content: $card__container--justify-content;
  margin: $card--margin;
}
.card__container--dark-side {
  max-width: $card__container--max-width;
  border-color: $dark;
}
.card__container--the-force {
  border-color: $turquoise;
  max-width: $card__container--max-width;
}

.card {
  margin: $card--margin;
  max-width: $card--width;
  min-width: $card--width;
  max-height: $card--height;
  min-height: $card--height;
  border-radius: $border--radius;
  text-align: center;
  color: $white;
}

.card--the-force {
  background-color: $turquoise;
  font-family: $font-family;
  color: $dark;
}
.card--the-force:hover {
  background-color: $turquoise-1;
}

.card--dark-side {
  background-color: $dark;
}

.card--dark-side:hover {
  background-color: $danger-hover;
  color: $white;
}

.card__title {
  font-size: $card__title-font-size;
  text-align: $card__title-text-align;
}

.card__name {
  font-size: $card__name-font-size;
  text-align: $card--text-align;
}
.card__name:hover {
  font-size: $card__name-hover-font-size;
}

.card__images {
  max-width: $card__images-max-width;
}

.card__skills {
  font-size: $card__skills-font-size;
}

.card__button {
  border-style: solid;
  padding: $card__button--padding;
  margin-left: auto;
  margin-right: auto;
  font-size: $card__button--font-size;
  border-radius: $border--radius;
}
.card__button--danger {
  background-color: $danger;
  color: $white-1;
}
.card__button--the-force {
  background-color: $green-1;
  color: $dark;
}

/* ------------------------------ @media ------------------------------------------*/

$card__container--max-width_media: 100%;

/* On screens that are 320px or more*/
@media screen and (max-width: 320px) {
  .card__container {
    max-width: $card__container--max-width_media;
    background-color: $dark-1;
  }
}

/* On screens that are 700px or more*/
@media screen and (max-width: 700px) {
  .card__container {
    max-width: $card__container--max-width_media;
    background-color: $dark-2;
  }
}
