@import "_cardStyles";

$brown-1: rgb(202, 123, 86);
$body-background-color: rgb(227, 238, 181);

html {
  font-size: 100%;
}

body {
  background-color: $body-background-color;
}

.body-title {
  background-color: $brown-1;
  text-align: center;
  padding: 1%;
}
